.course {
  &-card {
    img {
      width: 100%;
    }
  }
}

.courses {
  &-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__list {
      display: flex;
      justify-content: center;
    }
  }
}
