.modal {
  &-content {
    position: relative;
    z-index: 1;
    h1 {
      color: #fff;
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(13, 13, 13, 0.636);
    border-radius: 20px;
    padding: 20px;

    h2 {
      margin: 0px 0px 20px 0px;
    }
  }

  &-questions {
    color: #fff;
  }

  &-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

button {
  display: flex;
  background-color: rgba(0, 0, 0, 0.783);
  color: #fff;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 0px 0px 15px 0px;
  transition:
    transform 0.4s,
    box-shadow 0.4s;
  cursor: pointer;

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &.know-button:hover {
    background-color: #4caf50;
  }

  &.close-button:hover {
    background-color: #f44336;
  }

  &.remind-button:hover {
    background-color: #ffa600;
  }
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}
