.news {
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    &__persons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex: 0 1 auto;
      gap: 20px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__group {
    background-color: #e9e9e9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 140px;
    padding: 1rem;
    transition:
      transform 0.4s,
      box-shadow 0.4s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    h3,
    h4 {
      font-size: 1.5rem;
    }

    p {
      margin: 0.5rem 0;
    }

    span {
      font-size: 0.9rem;
    }
  }

  &__circle {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 20px;

    p {
      text-align: center;
      display: inline-block;
      padding: 80px 0px 0px 0px;
    }
  }
  button {
    &.know-button {
      background-color: #4caf50; /* Green */
      color: #fff;
    }

    &.dont-know-button {
      background-color: #f44336;
      color: #fff;
    }

    &.show-answer-button {
      background-color: #2196f3;
      color: #fff;
    }
    &.close-button {
      background-color: #f44336;
      color: #fff;
    }
  }
}
@media (max-width: 400px) {
  .news {
    padding: 0.5rem;
  }
}
@media (max-width: 768px) {
  .news {
    &__group {
      height: 140px;
      padding: 0.5rem;

      h3,
      h4 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.8rem;
      }

      span {
        font-size: 0.7rem;
      }
    }

    &__circle {
      width: 60px;
      height: 60px;
      margin: 0 10px;

      p {
        padding: 60px 0px 0px 0px;
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .news {
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    &__group {
      height: 100px;
      padding: 0.25rem;

      h3,
      h4 {
        font-size: 1rem;
      }

      p {
        font-size: 0.7rem;
      }

      span {
        font-size: 0.7rem;
      }
    }

    &__circle {
      width: 50px;
      height: 50px;
      margin: 0 10px;

      p {
        padding: 50px 0px 0px 0px;
        font-size: 0.7rem;
      }
    }
  }
}
