.news {
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__content {
    &__persons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex: 0 1 auto;
      gap: 20px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__group {
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 140px;
    padding: 1rem;
    h3,
    h4 {
      font-size: 1.5rem;
    }

    p {
      margin: 0.5rem 0;
    }

    span {
      font-size: 0.9rem;
    }
  }

  &__circle {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 20px;

    p {
      text-align: center;
      display: inline-block;
      padding: 80px 0px 0px 0px;
    }
  }
  button {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0.8rem 1.4rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    &.know-button {
      background-color: #4caf50; /* Green */
      color: #fff;
    }

    &.dont-know-button {
      background-color: #f44336;
      color: #fff;
    }

    &.show-answer-button {
      background-color: #2196f3;
      color: #fff;
    }
    &.close-button {
      background-color: #f44336;
      color: #fff;
    }
  }
}
