body {
  background-color: #dfdfdf0f;
}
.header {
  background-color: #1d1c21e6;
  color: #fff;
  padding: 1rem;
  border-radius: 0px 20px 20px 0px;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    margin: 0 auto;

    .logo-group {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      .logo {
        width: 45px;
        padding: 0px 10px 0px 0px;
      }
      a {
        color: #fff;
        text-decoration: none;
        text-align: center;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      ul {
        padding: 0px;
        display: flex;
        align-items: end;
        flex-direction: row;
      }
      li {
        margin-left: 0.2rem;
        font-size: 20px;
        padding: 0px 0px 10px 12px;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
