.app {
  min-height: 100vh;
  display: flex;
  min-height: 100vh;
  display: flex;
  // background: url('../public/Imagies/top-bg-2.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  flex: 1;
}
